@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
    --fontepadrao: Arial, Helvetica, sans-serif;
    --tilulos: "Anton", sans-serif;
}

* {
    margin: 5px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    width: auto;
    max-width: 700px;
    margin: auto;
    background-color: darkslategrey;
    font-family: var(--fontepadrao);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 18px;
}

header > h1 {

    font-size: 4.5vh;
    font-variant: small-caps;
}

header a, footer a, p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

nav {
    padding: 5px;
    background-color: white;
}

p a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bolder;

}

header a:hover, footer a:hover, p a:hover {
    text-decoration: underline;
}

section > h2 {
    font-family: var(--tilulos);
    font-weight: 400;
    font-size: large;
}

section.info {
    background-color: white;
    padding: 10px;
}

section > ul > li.topicos {
    max-width: 400px;
}

section > p {
    width: auto;
    max-width: 600px;
    text-align: left;
}

section > p > b.topicostitulo{
    margin: 0px;
}

section > p > img.imgcontato {
    margin-top: 0px;
    margin-bottom: 0px;
}

section > p > strong {
    margin: 0px;
}

hr {
    max-width: 400px;
    height: 1px;
    background-color: black;

}

hr.separadordebloco {
    max-width: 250px;
    height: 5px;
    background-color: darkgrey;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin-bottom: 0px;
}